table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  
  nav ul ul {
    display: none; /*Hide the sub-menu initially*/
    position: absolute;
    background-color: #f9f9f9;
  }

  nav li:hover ul {
   display: block; /*Show the sub-menu on hover*/
  }

  nav li ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333
  }

  .whatsapp-button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; /* Show pointer on hover */
  }
  
  .whatsapp-button img {
    width: 18px; /* Adjust size as needed */
    height: 18px;
    margin-right: 5px; /* Space between logo and text */
    vertical-align: middle; /* Align logo with text */
  }